<%- include("partials/header.ejs") %> 
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
     <%- include("partials/navbar.ejs") %> 

  </main>

  <!--   Core JS Files   -->
  <%- include("partials/footer") %> 